body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    /*background-color: rgb(56, 69, 126);*/
}

.container-tabel {
    width: 100%;
    overflow-x: auto;
}

.tabel-data {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
}

table th {
    background-color: #314662;
    color: white;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #dddddd;
}

table td a {
    color: #70a1dd;
    text-decoration: none;
    font-weight: bold;
}

table td a:hover {
    text-decoration: underline;
}

.scrollable-content {
    overflow-x: auto; 
}

